# Tuya Cloud API Configuration (for scanning & finding local keys)
TUYA_API_REGION=us
TUYA_API_CLIENT_ID=your_access_id
TUYA_API_SECRET=your_access_secret
TUYA_DEVICE_ID=your_sample_device_id

# Local Device Configuration (if not using Cloud scanning)
# Format: JSON array of devices:
# TUYA_DEVICES='[{"name": "Living Room Plug", "id": "dev_id", "ip": "192.168.1.10", "key": "local_key", "version": "3.3"}]'
TUYA_DEVICES=[]
